.logout-section {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #ffffff;
}

.logout-button {
  width: 84px;
  height: 33px;
  flex-shrink: 0;
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #00d8ff;
  color: white;
  font: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22;
  font-weight: 700;
  text-align: center;
}

.logout-button:hover {
  background-color: #0056b3;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.logo img {
  flex-shrink: 0;
  margin-left: 10px;
  padding: 5px 15px;
  display: flex;
  width: 90px; /* 로고 이미지의 너비 설정 */
  margin-left: 60px; /* 이미지를 오른쪽으로 이동 */
}

.minibear p {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%; /* 전체 너비를 차지하도록 조정 */
  height: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 20px;
  border: 3px solid #00d8ff;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 0 55px;
}

.nav-links a {
  text-decoration: none;
  color: #00d8ff;
  font-weight: 700; /* 일관성을 위해 조정된 무게 */
  font-size: 16px; /* 단위가 추가된 폰트 크기 */
}

.nav-links a:hover {
  color: #0056b3;
}
