.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
}

.form {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #00aaff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footerText {
  color: #666;
}

.link {
  color: #00aaff;
  text-decoration: none;
}
